body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.nav-enlace {
  display: inline-block;
  background: darkslategray;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.nav-enlace:hover {
  background: dimgrey;
}

nav {
  background: gray;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav-boton {
  background: darkslategray;
  color: #fff;
  padding: 10px 0;
  border: 2px solid #fff;
  display: none;
  text-transform: uppercase;
  border-radius: 10px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .nav-enlace {
    margin: 10px 0;
  }
  .nav-boton {
    display: inline-block;
  }
  .desaparece {
    display: none;
  }
}
